@using Core.Tools;
@model STLFileViewModel

@{
    CADJsEncryptDecrypt decrypt = (Model.Desc.FileCodage == "BIN") ? new Core.Tools.STLBinaryJsEncryptDecrypt(Model.Data) : new Core.Tools.STLAsciiJsEncryptDecrypt(Model.Data);
    var jpositions = String.Join(',', decrypt.jsPositions);
    var jindices = String.Join(',', decrypt.jsIndices);
    var jboundingBox = String.Join(',', decrypt.jsBoundingBox);
    var jnormals = String.Join(',', decrypt.jsNormals);
    var ClearColor = "#000000";

}



<div class="container">

    <div class="row">

        <div class="col-4">
            <h2><a class="btn btn-primary" href="/STLFiles/Files?StoreId=@Model.Desc.StoreId">Go back to Store</a></h2>
        </div>
        <div class="col-3">
            <a class="btn btn-warning" asp-action="Save" asp-route-id="@Model.Desc.FileId">Save preferences</a>
        </div>
        <div class="col-5">
            <a class="btn btn-info" asp-action="Load" asp-route-id="@Model.Desc.FileId">Download File</a>
        </div><div class="col-6">
            <label> @Model.Desc.FileName, @Model.Desc.FileCodage, @Model.Desc.FileSize (bytes), @(decrypt.NbFaces) faces</label>
        </div>

    </div>


    <div class="row">

        <div class="col-4">

            <input type="color" id="CClearColor" name="CClearColor" value="@ClearColor">
            <label class="form-label" for="CClearColor">CClearColor</label>


            <input class="form-check-input" type="checkbox" id="cbShowGridGround" name="cbShowGridGround">
            <label class="form-label" for="cbShowGridGround">Ground</label>


            <input class ="form-check-input" checked type="checkbox" id="cbShowSkyBox" name="cbShowSkyBox">
            <label class="form-label" for="cbShowSkyBox">SkyBox</label>

         

            <div id="skybox-group">

                <label class="form-label"> SkyBox</label>
                <select class="form-select" name="SkyTexture2" id="sky-select">
                    <option value='autumn_forest_04.jpg'>autumn_forest_04.jpg</option>
                    <option value='blaubeuren_night.jpg'>blaubeuren_night.jpg</option>
                    <option value='blaubeuren_church_square.jpg'>blaubeuren_church_square.jpg</option>
                    <option value='drakensberg_solitary_mountain.jpg'>drakensberg_solitary_mountain.jpg</option>
                    <option value='hilltop_construction.jpg'>hilltop_construction.jpg</option>
                    <option value='industrial_sunset_02_puresky.jpg'>industrial_sunset_02_puresky.jpg</option>
                    <option value='narrow_moonlit_road.jpg'>narrow_moonlit_road.jpg</option>
                    <option value='sandsloot.jpg'>sandsloot.jpg</option>
                    <option value='shanghai_bund.jpg'>shanghai_bund.jpg</option>
                    <option value='snowy_field.jpg'>snowy_field.jpg</option>
                    <option value='studio_small_09.jpg'>studio_small_09.jpg</option>
                    <option value='sunflowers_puresky.jpg'>sunflowers_puresky.jpg</option>
                    <option value='symmetrical_garden.jpg'>symmetrical_garden.jpg</option>
                    <option value='trekker_monument.jpg'>trekker_monument.jpg</option>
                    <option value='umhlanga_sunrise.jpg'>umhlanga_sunrise.jpg</option>
                    <option value='vestibule.jpg'>vestibule.jpg</option>
                    <option selected value='voie lactee.jpeg'>voie lactee.jpeg</option>
                </select>

            </div>
            <div id="material-group">
                <label class="form-label"> Material</label>
                <select class="form-select" name="Material" id="material-select">

                    <option disabled>Image Texture Materials</option>
                    <option value='stone'>stone</option>
                    <option value='lava'>lava</option> '

                    <option disabled>Procedural Texture Materials</option>
                    <option value='grid'>grid</option>
                    <option value='brick'>brick</option>
                    <option value='wood'>wood</option>
                    <option value='marble'>marble</option>
                    <option value='road'>road</option>
                    <option value='grass'>grass</option>
                    <option value='fire'>fire</option>

                    <option disabled>Color Defined Materials</option>
                    <option value='emerald'>emerald</option>
                    <option value='jade'>jade</option>
                    <option value='obsidian'>obsidian</option>
                    <option value='pearl'>pearl</option>
                    <option value='ruby'>ruby</option>
                    <option value='turquoise'>turquoise</option>
                    <option value='brass'>brass</option>
                    <option value='bronze'>bronze</option>
                    <option value='polished_bronze'>polished_bronze</option>
                    <option value='chrome'>chrome</option>
                    <option value='copper'>copper</option>
                    <option value='polished_copper'>polished_copper</option>
                    <option value='gold'>gold</option>
                    <option value='polished_gold'>polished_gold</option>
                    <option value='pewter'>pewter</option>
                    <option value='silver'>silver</option>
                    <option value='polished_silver'>polished_silver</option>

                    <option disabled>My Materials</option>
                    <option selected value='plaster'>plaster</option>
                    <option value='inca_stone'>inca stone</option>
                    <option value='white_marble'>white marble</option>
                    <option value='rose_marble'>rose marble</option>

                    <option disabled>Plastic</option>
                    <option value='black_plastic'>black</option>
                    <option value='cyan_plastic'>cyan</option>
                    <option value='green_plastic'>green</option>
                    <option value='red_plastic'>red</option>
                    <option value='white_plastic'>white</option>
                    <option value='yellow_plastic'>yellow</option>

                    <option disabled>Rubber</option>
                    <option value='black_rubber'>black</option>
                    <option value='cyan_rubber'>cyan</option>
                    <option value='green_rubber'>green</option>
                    <option value='red_rubber'>red</option>
                    <option value='white_rubber'>white</option>
                    <option value='yellow_rubber'>yellow</option>

                    <option disabled>My Mats</option>
                    <option value='black_mat'>black</option>
                    <option value='cyan_mat'>cyan</option>
                    <option value='green_mat'>green</option>
                    <option value='red_mat'>red</option>
                    <option value='white_mat'>white</option>
                    <option value='yellow_mat'>yellow</option>

                </select>

            </div>
            <div id="planet-group">

                <label class="form-label"> Planet Colorization</label>
                <select class="form-select" name="PlanetColorization" id="preset-select">
                    <option selected value='white'>white</option>
                    <!-- <option value='aztecCalendarPalette'>AZTEC CALENDAR</option> -->
                    <option disabled>Earth</option>
                    <option value='earthHadeenBeginPalette'>earth - 4,51 MA - Hadeen - Debut</option>
                    <option value='earthHadeenEndPalette'>earth - 3,8 MA - Hadeen - Fin</option>
                    <option value='earthArcheenPalette'>earth - 3,8 MA - Archeen</option>
                    <option value='earthProterozoiquenPalette'>earth - 2,52 MA - Proterozoiquen</option>
                    <option value='elevationcolors_earthEonPhanerozoique_Paleozoique'>earth - 542 MO - Paleozoique </option>
                    <option value='elevationcolors_earthEonPhanerozoique_Mesozoique'>earth - 250 MO - Mesozoique </option>
                    <option value='elevationcolors_earthEonPhanerozoique_Cenozoique'>earth - 65 MO - Cenozoique </option>
                    <option disabled>Others</option>
                    <option value='mercury'>mercury</option>
                    <option value='neptune'>neptune</option>
                    <option value='venus'>venus</option>
                    <option value='mars'>mars</option>
                    <option value='pluto'>pluto</option>
                    <option disabled>Satellites</option>
                    <option value='moon'>moon</option>
                    <option value='Encelade'>Encelade</option>
                    <option disabled>SF</option>
                    <option value='earthTodayPalette'>Arakis</option>
                </select>

                <div>
                <input class="form-check-input" " type="checkbox" id="cbOcean" name="cbOcean">
                <label class="form-label" for="cbOcean">Ocean</label>


                <input class="form-range" type="range" id="ROcean" name="ROcean"
                       min="0" max="100" value="50" step="1">
                <label class="form-label" for="ROcean">ROceanRadius</label>

                <input class="form-range" type="range" id="ROceanOpacity" name="ROceanOpacity"
                       min="0" max="100" value="50" step="1">
                <label class="form-label" for="ROceanOpacity">ROceanOpacity</label>
                   </div>
                <div>
                <input class="form-check-input" type="checkbox" id="cbLava" name="cbLava">
                <label class="form-label" for="cbLava">Lava</label>

                <input class="form-range" type="range" id="RLava" name="RLava"
                       min="0" max="100" value="50" step="1">
                <label class="form-label" for="RLava">RLavaRadius</label>

                <input class="form-range" type="range" id="RLavaOpacity" name="RLavaOpacity"
                       min="0" max="100" value="50" step="1">
                <label class="form-label" for="RLavaOpacity">RLavaOpacity</label>
                </div>
                <div>

                <input class="form-check-input" " type="checkbox" id="cbClouds" name="cbClouds">
                <label class="form-label" for="cbClouds">Clouds</label>

                <input class="form-range" type="range" id="RClouds" name="RClouds"
                       min="0" max="100" value="50" step="1">
                <label class="form-label" for="RClouds">RCloudsRadius</label>

                <input class="form-range" type="range" id="RCloudsOpacity" name="RCloudsOpacity"
                       min="0" max="100" value="50" step="1">
                <label class="form-label" for="RCloudsOpacity">RCloudsOpacity</label>
                </div>
               
            </div>

           


            <div id="lowlevel-group">


                <input class="form-check-input" type="checkbox" id="cbShowAxis" name="cbShowAxis">
                <label class="form-label" for="cbShowAxis">Axis</label>

                <input class="form-check-input" type="checkbox" id="cbBoundingBox" name="cbBoundingBox">
                <label class="form-label" for="cbBoundingBox">BoundingBox</label>

                <input cclass="form-check-input" type="checkbox" id="cbBoundingSphere" name="cbBoundingSphere">
                <label class="form-label" for="cbBoundingSphere">BoundingSphere</label>

                <input class="form-check-input" type="checkbox" id="cbEdges" name="cbEdges">
                <label class="form-label" for="cbEdges">Edges</label>

                <input class="form-check-input" type="checkbox" id="cbShowNormals" name="cbShowNormals">
                <label class="form-label" for="cbShowNormals">Normals</label>

                <input class="form-check-input" type="checkbox" id="wireframe" name="wireframe">
                <label class="form-label" for="scales">Wireframe</label>

                <input class="form-check-input" type="checkbox" id="backFaceCulling" name="backFaceCulling" checked>
                <label class="form-label" for="scales">Back Face Culling</label>


            </div>


        </div>


        <div class="col-8">


            <div class="row">

                <!-- RENDERING CANVAS-->
                <div id="canvasZone">
                    <canvas id="renderCanvas"></canvas>
                </div>

            </div>

            <div class="row">

                <div class=col-2">
                    <input class="form-range" type="range" id="RAmbiantColor" name="RAmbiantColor"
                           min="0" max="100" value="40" step="1">
                    <label class="form-label" for="RAmbiantColor">RAmbiantColor</label>
                </div>

                <div class=col-2">
                    <input class="form-range" type="range" id="RCameraLight" name="RCameraLight"
                           min="0" max="100" value="50" step="1">
                    <label class="form-label" for="RCameraLight">RCameraLight</label>
                </div>

            </div>


        </div>

    </div>


    <div class="row">

        <div class="col-10">
        </div>

        @*  <div class="col-3">
        <select disabled name="store-select" id="store-select">
        <option value='@Model.Desc.StoreId'>@Model.Desc.StoreId</option>
        </select>
        </div>

        <div class="col-3">
        <select disabled name="file-select" id="file-select">
        <option value='@Model.Desc.FileId'>@Model.Desc.FileName</option>
        </select>
        </div>*@





    </div>

</div>

<!--


                                           <label for="fuel">Fuel level:</label>

                                           <meter id="fuel"
                                                  min="0" max="100"
                                                  low="33" high="66" optimum="80"
                                                  value="50">
                                               at 50/100
                                           </meter>
                                           <label for="file">File progress:</label>

                                           <progress id="file" max="100" value="70"> 70% </progress>


                                           <div>
                                               <input type="file"
                                                      id="meshFile" name="meshFile"
                                                      accept=".stl">
                                           </div>



                   -->
<!--

<div>
    <input type="color" id="head" name="head"
           value="#e66465">
    <label for="head">Head</label>
</div>




    <div>
        <input type="radio" id="huey" name="drone" value="huey"
               checked>
        <label for="huey">Huey</label>
    </div>

    <div>
        <input type="radio" id="dewey" name="drone" value="dewey">
        <label for="dewey">Dewey</label>
    </div>

    <div>
        <input type="radio" id="louie" name="drone" value="louie">
        <label for="louie">Louie</label>
    </div>-->

<script>

    clearColor = '@ClearColor';
    boundingBox = [@jboundingBox];
    positions = [@jpositions];
    indices = [@jindices];
    normals = [@jnormals];
    $('#renderCanvas').css('background-color', clearColor);
    /*  var getUrl = window.location;
     var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];*/
    __urlbase = window.location.origin;



</script>


<script src="~/js/view.js" asp-append-version="true"></script>

<script src="~/js/viewBabylon.js" asp-append-version="true"></script>
